:root {
  background-color: #716F81;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  width: 100%;
  position:static;
  bottom: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6AE99;
  margin-bottom: 15px;
}

.footerC {
  width: 70px;
  height: 70px;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
}

.navColor .nav-link {
  color: #319BCE;
  font-size: 25px;
}

.navBack {
  background-color: #F6AE99;
}

.nav-item .nav-link{
  border-radius: 15px;
  background: #B97A95;
  width: 100px;
  height: 50px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spans{
  font-weight: bold;
  font-size: medium;
}


.maintitle {
  font-size: larger;
  font-weight: bolder;
  color: #B97A95;
}

.myCard {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  background-color: #716F81;
}

.cardish {
  position: relative;
  width: 230px;
  height: 275px;
  background-color: #716F81;
  border-radius: 15px;
  background: #B97A95;
  margin: 15px;
}

.project-title {
  font-size: medium;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 2px;
  color:#F6AE99;
}
.article {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: #B97A95;
  width: 600px;
}

.textc {
  padding: 10px, 10px, 10px, 10px;
}

.aboutClass, .contactDiv {
  background-color: #716F81;
}

.imgs {
  position:static;
  width: 200px;
  height: 200px;
  border-radius: 25px;
}

.contactForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  height: 600px;
  background-color: #F6AE99;
  padding: 20px;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 25px;
  border-width: 5px;
}

.name-input, .email-input {
  width: 300px;
  height: 50px;
  border-radius: 25px;
  border-width: 5px;
  padding: 15px;
}

.body-text {
  width: 200px;
  height: 200px;
  border-radius: 25px;
  border-width: 5px;
}

.formTitle {
  color: #716F81;
  font-weight: bolder;
}

.buttun {
  height: 50px;
  border-radius: 25px;
  border-width: 5px;
}

.homeTitle {
  color: #F6AE99;
  font-weight: bolder;
}

.svg {
  width: 30px;
  height: 30px;
  margin: 10px;
}